{% extends "common/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	Concert | Payment
{% endblock %}

{% block content %}

	<h1>Booking Details</h1>
	<div class="booking">
		<form method="post" action="{% url 'payment_confirmation' %}">
			{% csrf_token %}
			<input type="hidden" id="concert_id" name="concert_id" value="{{ concert.id }}">
			Singer:<input id="singer" name="singer" value="{{ concert.singer }}" readonly>
			City:<input id="concert" name="concert" value="{{ concert.city }}"  readonly>
			Date:<input id="date" name="date" value="{{ concert.date }}"  readonly>
			Showtime:<input id="showtime" name="showtime" value="{{ concert.time }}"  readonly>
			Seats:<input id="selected_seat" name="selected_seat" value="{{ seats }}"  readonly>
			Seat Type:<input id="seat_type" name="seat_type" value="{{ seat_type }}"  readonly>
			Payable Amount IDR :<input id="amount" name="amount" value="{{ ticket_price }}"  readonly>
			{{ form|crispy }}
			<button type="submit">Pay</button>
		</form>
	</div>

{% endblock %}
